div.row
  div.small-12.medium-6.columns
    h2 Sign In
    p Existing user? Sign in below!
    
    = form_for :session, url: session_path do |f|
      div
        = f.label :email
        = f.email_field :email
      div
        = f.label :password
        = f.password_field :password
      div
        = f.submit 'Sign In', class: 'success button'
          
  div.small-12.medium-6.columns
    h2 Sign Up
    p Don't have an account?
    = link_to 'Sign Up Here!', new_user_path, class: 'button'

  
