= render 'shared/errors', object: f.object

div.small-12.medium-3.columns
  = f.label :domain_id
  = f.select :domain_id, Domain.order(:name).collect { |d| [d.name, d.id] }
div.small-12.medium-3.columns
  = f.label :status_id
  = f.select :status_id, Status.order(:id).collect { |s| [s.name, s.id] }
div.small-12.medium-3.columns
  = f.label :priority_id
  = f.select :priority_id, Priority.order(:id).collect { |p| [p.name, p.id] }
div.small-12.medium-3.columns
  = f.label :assignee_id
  = f.select :assignee_id, User.order(:name).collect { |u| [u.name, u.id] },
             include_blank: true
div.small-12.medium-6.columns
  = f.label :observed_behaviour
  = f.text_area :observed_behaviour, rows: 3
div.small-12.medium-6.columns
  = f.label :expected_behaviour
  = f.text_area :expected_behaviour, rows: 3
div.small-12.medium-6.columns
  = f.label :steps_to_reproduce
  = f.text_area :steps_to_reproduce, rows: 3
div.small-12.medium-6.columns
  = f.label :additional_information
  = f.text_area :additional_information, rows: 3
div.small-12.medium-6.columns
  = f.label :jira_reference
  = f.text_field :jira_reference

div.small-12.columns
  = f.submit class: 'success button'
