tr
  td = link_to issue.id, issue_path(issue)
  td = issue.domain.name
  td = truncate issue.observed_behaviour, length: 75, separator: ' '
  td = truncate issue.expected_behaviour, length: 75, separator: ' '
  td = issue.status.name
  td = issue.priority.name
  td = issue.owner.name
  td = issue.assignee.try(:name)
  td = link_to 'edit', edit_issue_path(issue)
  td = link_to 'delete', issue_path(issue), method: :delete, 
               data: { confirm: 'Are you sure?' } 
