div.row
  div.small-12.columns
    h2 Issues
    
    = form_tag issues_path, method: :get
      div.small-12.medium-3.columns
        = text_field_tag 'query', params[:query], placeholder: 'Search'
      div.small-12.medium-2.columns
        = select_tag 'priority', 
                     options_for_select(Priority.order(:id).collect { |p| [p.name, p.id] }, params[:priority]),
                     include_blank: 'Priority'
      div.small-12.medium-3.columns
        = select_tag 'owner', 
                     options_for_select(User.order(:name).collect { |o| [o.name, o.id] }, params[:owner]),
                     include_blank: 'Owner'
      div.small-12.medium-3.columns
        = select_tag 'assignee', 
                     options_for_select(User.order(:name).collect { |a| [a.name, a.id] }, params[:assignee]),
                     include_blank: 'Assignee'
      div.small-12.medium-1.columns
        = submit_tag "Search", name: nil, class: 'button'
    
    table
      thead
        tr
          th ID
          th Domain
          th Observed Behaviour
          th Expected Behaviour
          th Status
          th Priority
          th Owner
          th Assignee
          th colspan="2" Actions
      tbody
        = render @issues
  
  div.small-12.medium-6.columns
    p Pagination
  
  nav.small-12.medium-6.columns
    ul.menu.align-right
      li = link_to 'New', new_issue_path, class: 'success button'
