div.row
  div.small-12.columns
    h2 Issue
    
    div.small-12.medium-4.large-2.columns
      h5 Domain
      p = @issue.domain.name
    div.small-12.medium-4.large-2.columns
      h5 Status
      p = @issue.status.name
    div.small-12.medium-4.large-2.columns
      h5 Priority
      p = @issue.priority.name
    div.small-12.medium-4.large-2.columns
      h5 Owner
      p = @issue.owner.name
    div.small-12.medium-4.large-2.columns
      h5 Assignee
      p = @issue.assignee.try(:name)
    div.small-12.medium-4.large-2.columns
      h5 JIRA Reference
      p = @issue.jira_reference
    div.text-justify
      div.small-12.medium-6.columns
        h5 Observed Behaviour
        p = @issue.observed_behaviour
      div.small-12.medium-6.columns
        h5 Expected Behaviour
        p = @issue.expected_behaviour
      div.small-12.medium-6.columns
        h5 Steps To Reproduce
        p = @issue.steps_to_reproduce
      div.small-12.medium-6.columns
        h5 Additional Information
        p = @issue.additional_information    

      
  nav.small-12.columns
    ul.menu.align-right
      li = link_to 'Back', issues_path, class: 'button'
      li = link_to 'Edit', edit_issue_path, class: 'success button'
      li = link_to 'Delete', issue_path, method: :delete, 
                   data: { confirm: 'Are you sure?' },
                   class: 'alert button'
    
