div.row
  div.small-12.columns
    h2 UAT Report
    
    table
      thead
        tr
          th Priority | Status
          - @statuses.each do |status|
            th.text-center = status.name
          th.text-center Total
      tbody
        - @priorities.each do |priority|
          tr
            th.text-left = priority.name
            - @statuses.each do |status|
              td.text-center = status.issues.where(priority: priority).count
            td.text-center = priority.issues.count
        tr
          th.text-left Total
          - @statuses.each do |status|
            td.text-center
              = status.issues.count
          td.text-center = @issues.count
