div.row
  div.small-12.medium-6.columns
    h2 Sign Up
    p Don't have an account? Sign up below!
    
    = form_for @user do |f|
      = render 'shared/errors', object: f.object
  
      div
        = f.label :email
        = f.email_field :email, require: true
      div
        = f.label :name
        = f.text_field :name, require: true
      div
        = f.label :password
        = f.password_field :password, require: true
      div
        = f.submit "Sign Up", class: 'success button'
        
  div.small-12.medium-6.columns
    h2 Sign In
    p Existing user? 
    = link_to 'Sign In Here!', new_session_path, class: 'button'
