header.row
  div.small-12.columns
    h1.text-center MagnaLabs
  nav.small-12.medium-6.columns
    ul.menu
      li = link_to 'Issues', issues_path
      li = link_to 'UAT Report', reports_uat_path
  nav.small-12.medium-6.columns
    ul.menu.align-right
      - if signed_in?
        li = link_to 'Sign Out', session_path, method: :delete
        li.menu-text = current_user.email
      - else
        li = link_to 'Sign In', new_session_path
        li = link_to 'Sign Up', new_user_path
