doctype html
html lang='en'
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'

    title == content_for?(:title) ? yield(:title) : 'MagnaLabs'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  body
    = render 'layouts/header'
    
    main
      = yield
